<nav class="navbar navresp navbar-fixed-top" style="background-color:white;border:none; margin-left:1vw;margin-right:vw;height:80px;padding-top:0.5vw;padding-bottom:0.5vw;border-radius:8px">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-brand">
                <img src="~/Pics/Logo.svg" style="width:3em;height:3em" alt="StockMonitor logo" title="StockMonitor">
            </p>
        </div>
        <ul class="nav navbar-nav">
        </ul>
        <ul class="nav navbar-nav navbar-right" style="margin-right:1vw">
            <li><a class="login-btn" style="color:black" data-toggle="modal" data-target="#LoginRuutu">Kirjaudu sisään</a></li>
        </ul>
    </div>
</nav>
