<nav class="navbar navbar-inverse navbar-fixed-top" style="margin-left:1vw;margin-right:1vw;height:80px;padding-top:0.5vw;padding-bottom:0.5vw;border-radius:8px">
    <div class="container-fluid">
        <div class="navbar-header">
            @*<a class="navbar-brand" style="font-size:2vw;color:white" href="#">StockMonitor</a>*@
            <a class="navbar-brand" href="#">
                <img src="~/Pics/Logo.svg" alt="StockMonitor logo" title="StockMonitor"style="width:40px;">
            </a>
        </div>
        <ul class="nav navbar-nav">
        </ul>
        <ul class="nav navbar-nav navbar-right" style="margin-right:1vw">
            <li><a class="btn btn-success" style="color:white; height:1vw;display: table-cell;vertical-align:middle;" data-toggle="modal" data-target="#LoginRuutu">Kirjaudu sisään</a></li>
            @*<li><a class="btn btn-success" style="color:white" data-toggle="modal" data-target="#LoginRuutu"><span class="glyphicon glyphicon-log-in"></span> Kirjaudu sisään</a></li>*@
        </ul>
    </div>
</nav>




@*<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("StockMonitor", "Index", "Portfolio", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav mr-auto">
                </ul>
                <ul class="nav navbar-nav">
                    <li class="btn" ><a class="nav-link" data-toggle="modal" data-target="#LoginRuutu">Kirjaudu sisään</a></li>
                </ul>
            </div>

        </div>
    </div>
</div>*@