<nav class="navbar navresp navbar-fixed-top" style="border-bottom: 0.20em solid rgb(128, 128, 128); background-color: white; margin-left: 1vw; margin-right: 1vw; height: 80px; padding-top: 0.5vw; padding-bottom: 0.5vw;">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-brand">
                <img src="~/Pics/Logo.svg" style="width:3em;height:3em" alt="StockMonitor logo" title="StockMonitor">
            </p>
        </div>
        <ul class="nav navbar-nav">
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="login-btn"><a style="color:white" data-toggle="modal" data-target="#LoginRuutu">Kirjaudu sisään</a></li>
        </ul>
    </div>
</nav>
