@*@model IEnumerable<StockMonitor_2.Models.Users>*@

<nav class="navbar navresp navbar-fixed-top" style="border-bottom:0.20em solid rgb(128, 128, 128);background-color: white;  margin-left: 1vw; margin-right: 1vw; height: 80px; padding-top: 0.5vw; padding-bottom: 0.5vw;">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-brand" style="border-left:0px">
                <img src="~/Pics/Logo.svg" style="margin-left:0px; width:3em;height:3em" alt="StockMonitor logo" title="StockMonitor">
            </p>
        </div>
        <ul class="nav navbar-nav">
            <li class="menu-btn">@Html.ActionLink("Salkku", "Index", "Portfolio")</li>
            <li class="menu-btn">@Html.ActionLink("Kaupat", "Index", "Transactions")</li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="menu-btn">@Html.ActionLink("Omat tiedot", "ViewProfile", "Users")</li>
            <li class="logout-btn"><a href="/Home/Logout">Kirjaudu ulos</a></li>
        </ul>
    </div>
</nav>
