body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Omia määrityksiä */
.card-header {
    display: inline-block;
}

/* Set width on the form input elements since they're 100% wide by default */
.card{
    /*width:100vw;*/
}

/* Navbar */
.login_btn {
    background-color: lawngreen;
    color: white;
}

.menu-btn {
    margin-top: 1vw;
    margin-right: 1vw;
    margin-left: 1vw;
    justify-content: center;
    height: 2.5vw;
    font-size: 1vw;
    color: black;
    border: none;
    border-radius: 5px;
    background-color: lightblue;
}

.login-btn {
    margin-top: 1vw;
    margin-right: 1vw;
    margin-left: 1vw;
    justify-content: center;
    height: 2.5vw;
    font-size: 1vw;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: green;
}

    .login-btn:hover {
        background: lightgray;
        color: black;
        cursor: inherit;
    }

.nav-link:hover {
    background: lightgray;
    color: black;
    cursor: inherit;
}

.li:hover {
    background: lightgray;
    color: black;
    cursor: inherit;
}

.logout-btn {
    margin-top: 1vw;
    margin-right: 1vw;
    margin-left: 1vw;
    justify-content: center;
    height: 2.5vw;
    font-size: 1vw;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: orangered;
}


.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}