@model StockMonitor_2.Models.Users

@{
    ViewBag.Title = "StockMonitor";
}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
      integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
      crossorigin="anonymous">

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @*Login check*@
    <script type="text/javascript">
        $(window).on('load', function () {
            if (@ViewBag.LoginError == 1) {
                $('#LoginRuutu').modal('show'); }
        });
    </script>

    @*Show password*@
    <script type="text/javascript">
        $(function () {
            $("#showPassword").change(function () {
                var checked = $(this).is(":checked");
                if (checked) {
                    $("#Salasana").attr("type", "text");
                } else {
                    $("#Salasana").attr("type", "Password");
                }
            });
        });
    </script>

}

<div class="jumbotron">
    <h1>StockMonitor</h1>
</div>

@{
    Html.RenderPartial("_LoginModal");
}

<div class="row">

</div>